<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>hw_10.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2A0A724E26D26A290079ACBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A0A726426D26A2B0079ACBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A0A726F26D26A2B0079ACBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
